.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");

@font-face {
  font-family: "bricktown";
  src: url("./assets/font/Bricktown.ttf");
}
@font-face {
  font-family: "CinzelDecorative";
  src: url("./assets/font/CinzelDecorative-Black.ttf");
}

@font-face {
  font-family: "FairProsper";
  src: url("./assets/font/Fair Prosper.ttf");
}

:root {
  --mainColor: #0086dc;
  font-family: "poppins", sans-serif;
  /* --bs-body-black:#000; */
}
body {
  background-image: url("../src/assets/images/body_background.png");
  height: 100vh;
  width: 100%;
  max-height: 100%;
  font-family: "poppins", sans-serif;

  /* overflow-x: hidden; */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  /* background-image: url('../src/assets/images/home_bg.png'); */
  background-color: transparent;
  position: absolute;
  top: 0;
  padding: 30px 0;
  width: 100%;
  font-family: "CinzelDecorative" !important;
}

.container {
  width: 95%;
  margin: 0 auto;
  background-color: transparent;
  max-width: 100%;
  color: #fff;
}

.container__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav {
  flex: 0.6;
}
/* .navbar{
    background-color: transparent;
}
  
.navbar.colorChange{
    background-color: #000;
} */
img {
  max-width: 100%;
  height: auto;
}
.list {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  /* word-spacing: 0.5;
    letter-spacing: 0.5; */
}
a {
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link.list__item.active,
.navbar-light .navbar-nav .nav-link.list__item:hover {
  color: #c24800;
}
a.list__item.nav-link.active {
  color: #c24800 !important;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.list__item {
  color: #fff;
}
a.list__item.nav-link {
  color: #fff !important;
  cursor: pointer;
}

/**logo **/
.logo__container {
  width: 125px;
  height: 125px;
  border-radius: 122px;
}
.crm__logo {
  max-width: 100%;
  height: auto;
}
.home-bg {
  width: 35%;
  /* height: 250px;*/
}

.sign__up .button-signup {
  border-radius: 39px;
  /* padding: 1rem 0.75rem; */
  width: 225px;
  height: 65px;
  font-size: 1.5rem;
  font-family: "poppins", "sans sarif";
  border: 1px solid #c24800;
  background-color: #c24800;
  color: #fff;
}

.sign__up .button-signup:hover {
  color: #fff;
  border: 1px solid #c24800;
}
.sign__up .button-signup:focus {
  outline: none;
  box-shadow: none;
}

.list__item {
  font-size: 18px;
  font-family: "CinzelDecorative";
  margin-left: 60px;
}
.nav-item.active {
  color: #c24800;
  letter-spacing: 0.5px;
  font-size: 23px;
}

.home {
  background-image: url("../src/assets/images/home_bg.png");
  width: 100%;
  border: 0;
  height: 95vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  max-height: 1000px;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "bricktown" !important;
}

.home__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.shoe-image,
.nkf-image,
.nkffactory-image {
  display: block;
}

.nkf-image img {
  margin-top: -50px;
}

.shoe-image img {
  width: 900px;
  height: auto;
}

.navigation {
  position: absolute;
  top: 0;
  width: 100%;
}

/****About Container**/

.about__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  color: #fff;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); */
  /* opacity: 0.5; */
  padding: 100px 0px 80px 0px;
}

.about__container::before {
  content: "";
  background-color: #000;
  /* background-image: url('https://placekitten.com/1200/800'); */
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  z-index: -1;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.divider::after {
  content: "";
  height: 80px;
  /* flex: 1 1 0%; */
  /* background: rgb(194 72 0); */
  background: url("../src/assets/images/right.png") no-repeat;
  width: 421px;
}

.divider::before {
  content: "";
  height: 80px;
  /* flex: 1 1 0%; */
  /* background: rgb(194 72 0); */
  background: url("../src/assets/images/left.png") no-repeat;
  width: 421px;
}

.connector {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  /* position: relative; */
}

.container__title {
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  font-family: "cinzeldecorative";
  text-transform: uppercase;
  color: #ff5f00;

  margin: 0 35px;
  white-space: nowrap;
}

.roadmap-optionbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.roadmap-items {
  flex: 0 0 25%;
  margin-bottom: 50px;
}

.customroadmap::after {
  content: "";
  display: none !important;
}

.about__details {
  /* display: flex;
    justify-content: center;
    flex-direction: column; */
  font-family: "Poppins";
  /* width: 50%;
    height: 100%; */
  /* padding: 15px; */
}

.about__details__description {
  flex: 1;
  margin-bottom: 30px;
  /* padding: 0 15px; */
  word-spacing: 1px;
  letter-spacing: 1px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.description__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-right: 1rem;
}

.description__list__Items {
  flex: 1;
  margin-right: 2rem;
}

/**** RoadMap Container ***/

/* .roadmap__boxmap {
    /display: grid;
    grid-template-columns: repeat(3, 1fr); 
} */
.roadmap__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  flex-direction: column;
  color: #c24800;
  margin: 30px 0;
  padding: 100px 0px 50px 0px;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); */
  /* opacity: .43;*/
}

.roadmap__container::before {
  content: "";
  background-color: transparent;
  /* background-image: url('https://placekitten.com/1200/800'); */
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: -1;
}
.card.card-roadmap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #000;
  /* background-clip: border-box; */
  border: none;
  border-radius: 0.25rem;
  background-size: cover;
  width: 18rem;
  height: auto;
  max-width: 100%;
  color: #fff;
}
.card.card-roadmap {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.contact-form {
  width: 60%;
}

.card-roadmap {
  position: relative;
}
.card-roadmap .card-button {
  width: 90px;
  height: 74px;
  position: absolute;
  border: 1px solid transparent;
  background: url("./assets/images/roadmap.png") no-repeat;
  z-index: 1;
  top: 0px;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  left: 50%;
  color: #fff;
  /* background-color: #913600; */
  overflow: hidden;
  /* background-clip: border-box; */
}
.roadmap__button__bg {
  text-align: center;

  display: block;
  padding: 20px;
}
.roadmap-card .card-button::before {
  content: "";
  background: url("./assets/images/roadmapbutton.png") no-repeat;
  position: absolute;
}
/**NFT box **/

.nft__container {
  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  flex-direction: column;
  color: #c24800;
  margin: 30px 0;
  height: auto;
  max-height: 100%;
  margin-bottom: 30px;
  /* clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%); */
  padding: 250px 0px 150px 0px;
}

.nft__container::before {
  content: "";
  background-color: #c24800;
  background: url("./assets/images/nftFrame.png") no-repeat;
  /* background-image: url('https://placekitten.com/1200/800'); */
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: -1;
}
.card-img-overlay {
  padding: 2rem;
}
.card.card-nft {
  /* background-image: url('../src/assets/images/cardframe.png'); */
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #913600;
  /* background-clip: border-box; */
  border: none;
  border-radius: 0.25rem;
  background-color: #913600;
  background-size: cover;
  width: 25rem;
  height: auto;
  max-width: 100%;
  color: #fff;
}
.card.card-nft .card-text {
  font-family: "Poppins";
  font-size: 16px;
}

.slider_conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.road-container {
  /* display: flex;
    justify-content: center; */
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.roadmap-card::after {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  border: 2px solid #c24800;
  flex: 1 1 auto;
  border-bottom: solid 1px #fff;
}

.btn.btn-nft {
  background: #c24800;
  border: none;
  width: 250px;
  height: 35px;
  color: #fff;
  font-family: "Poppins";
  outline: none;
}
.btn.btn-nft :hover {
  background-color: #c24800;
  outline: none;
  color: #fff;
}

#footer-section {
  background-color: #190809;
  font-family: "poppins";
}
/* 
.footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #190809;
    height: 68px;
    box-sizing: border-box;
    color: #fff;
}
.footer__text {
    flex:1
}
.footer__icons {
    display: flex;
    justify-content: space-between;
    flex: 1;
} */
.social-links {
  display: flex;
  justify-content: right;
}
.social-links .social-icons {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #c24800;
  text-align: center;
  transition: 0.4s;
  margin-right: 0.5rem;
  display: grid;
  place-items: center;
}

.scroll-up {
  height: 45px;
  width: 45px;
  background: #c24800;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/***RoadMap **/

.Roadmap__box {
  width: 280px;
  height: 280px;
  position: relative;
  background-color: #a2a0a0;
}
.Roadmap__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: url("../src/assets/images/roadmapFrame.png");
}
/**contact US **/
.content {
  position: relative;
  overflow-x: hidden;
}
.Contact_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding: 220px 0px 100px 0px;
}

.Contact_container::before {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background: url("../src/assets/images/contactmap.png") no-repeat;
  width: 100%;
  background-size: cover;
}

input.form-control,
input.form-control:focus {
  height: 50px;
  border-radius: 5px;
  background: transparent;
  border-color: #c24800;
  color: #a2a0a0;
  outline: none;
  font-family: "Poppins";
  box-shadow: none;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a2a0a0;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #a2a0a0;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #a2a0a0;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #a2a0a0;
}
textarea.form-control,
textarea.form-control:focus {
  height: 10rem;
  border-radius: 5px;
  background: transparent;
  border-color: #c24800;
  color: #a2a0a0;
  outline: none;
  font-family: "Poppins";
  box-shadow: none;
}

.map__conatiner {
  background: #913600;
  height: 250px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.map__conatiner iframe {
  max-width: 100%;
  height: 220px;
  position: absolute;
  top: 0;
  border-radius: 5px;
  transform: translate(-10px, 10px);
}
.btn.contact-button {
  border-radius: 5px;
  background-color: #ff5f00;
  color: #fff;
  border-color: #ff5f00;
  height: 48px;
  width: 100%;
  max-width: 204px;
  font-family: "poppins";
}
.btn.contact-button:hover {
  background-color: #ff5f00;
  animation: 0.4s;
  color: #fff;
}

.adreess_details {
  color: #ff5f00;
  margin-bottom: 1.5rem;
  font-family: "Poppins";
}

/***Crasouel **/
.slider_conatiner .carousel__wrap {
  /* margin-top: 10%; */
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.carousel__inner {
  height: 33rem;
  position: relative;
  width: calc(90rem);
}
.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.carousel__slide-list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc(330rem);
}
.carousel__slide-item {
  display: inline-block;
  height: 30rem;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: 30rem;
}
.carousel__slide-item-img-link {
  cursor: pointer;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.carousel__slide-item-img-link img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  width: 100%;
}
.carousel__slide-item-img-link::after {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  content: "read more";
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
}
.carousel__slide-item-img-link:hover::after {
  opacity: 1;
}
.carousel__slide-item-img-link:hover img {
  transform: scale(1.3);
}
.carousel-slide-item__body {
  height: 10%;
  position: absolute;
}
.carousel-slide-item__body h4 {
  margin: 0.7rem 0 0;
  text-transform: uppercase;
}
.carousel-slide-item__body p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0.7rem 0 0;
}
.carousel__btn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel__btn--prev {
  left: -10rem;
}
.carousel__btn--next {
  right: -10rem;
}
.carousel__btn-arrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 6rem;
  padding: 3px;
  width: 6rem;
  z-index: 10;
}
.carousel__btn-arrow--left {
  transform: rotate(135deg);
}
.carousel__btn-arrow--right {
  transform: rotate(-45deg);
}
.carousel__dots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);
}
.carousel__dots .dot {
  background: #ececec;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  margin: 0 0.3rem;
  outline: none;
  transform: scale(0.5);
  width: 2rem;
}
.carousel__dots .dot.active {
  background: #ee5f0b;
}

.address {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.address-item {
  width: 20px;
}
.location-item {
  width: 23px;
}

/*   Model FORM   */

.modal-content.modelbg {
  background: transparent;
  border-radius: 5px;
  border: none;
}

.modelbg .modal-header {
  border-bottom: 0;
}

.customcontainer {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

/**Responsive **/

@media screen and (min-width: 320px) {
  .home {
    background-size: 178% 71%;
    background-repeat: no-repeat;
  }

  .navbar-brand img {
    width: 40%;
  }
  .navbar {
    background-color: #c24800d1;
    color: #fff;
  }

  .navbar-toggler {
    margin-right: 15px;
  }
  .contact-form {
    width: 100%;
    padding: 5%;
  }

  .scroll-up {
    right: 20px;
  }

  .divider::after,
  .divider::before {
    content: "";
    display: none;
  }
  .about__container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); */
    /* opacity: 0.5; */
    padding: 100px 0px 80px 0px;
  }

  .marginzero {
    margin: 0px !important;
  }

  .slider_conatiner {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .card.card-nft {
    margin-left: 80px;
    width: 18rem;
  }
  .card.card-nft .card-text {
    font-family: "Poppins";
    font-size: 10px;
  }
  .carousel-slide-item__body p {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 0;
  }
  .card-img img {
    padding: 5px 20px;
  }
  .roadmap-optionbox {
    flex-direction: column;
  }

  .horizontal-line {
    border-bottom: 2px solid #ff5f00;
  }
  .nft__container {
    margin-bottom: 20px;
    padding: 50px 0px 50px 0px;
  }
  .carousel__inner {
    height: 28rem;
  }
  .carousel__dots {
    margin-top: 0px;
    display: flex;
  }
  .sign__up {
    margin-left: 30px;
  }
  .roadmap__container {
    padding: 20px 0px 50px 0px;
  }
  .road-container {
    width: 100%;
    height: auto;
    margin-top: 150px;
  }
  .connector {
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: center;
    position: relative;
  }
  .connector::after {
    content: "";
    height: 80px;
    flex: 1 1;
    width: 100%;
    border-right: 5px solid #fff;
    vertical-align: middle;
    left: 0px;
    transform: translate(-50%, 0%);
    bottom: -80px;
    position: absolute;
  }

  .roadlastitems {
    display: flex;
    align-items: end;
    width: 100%;
    position: relative;
  }
  .roadlastitems::after {
    content: "";
    height: 80px;
    flex: 1 1;
    width: 100%;
    border-right: 5px solid #fff;
    vertical-align: middle;
    left: 0px;
    transform: translate(-50%, 0%);
    bottom: -80px;
    position: absolute;
  }
  .Contact_container {
    /* padding: 220px 0px 100px 0px; */
    padding: 50px 0 50px 0;
    background-color: #2d1314;
  }
  .Contact_container::before {
    background-size: 100% 100%;
  }
}

@media screen and (min-width: 375px) {
  .home {
    background-size: 178% 71%;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 420px) {
  /* .card.card-nft {
        margin-left: 24px;
    } */
  .card.card-nft .card-text {
    font-family: "Poppins";
    font-size: 13px;
  }
}

@media screen and (min-width: 567px) {
  .home {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navbar-brand img {
    width: 50%;
  }
  .contact-form {
    width: 100%;
    padding: 5%;
  }
  .navbar-toggler {
    margin-right: 15px;
  }
  .scroll-up {
    right: 20px;
  }

  .marginzero {
    margin: 0px !important;
  }

  .card.card-nft {
    margin-left: 0px;
    width: 25rem;
  }
  .card.card-nft .card-text {
    font-family: "Poppins";
    font-size: 16px;
  }
  .carousel-slide-item__body p {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0.7rem 0 0;
  }

  .carousel__dots {
    display: inline-block;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .nft__container {
    margin-bottom: 30px;
    padding: 250px 0px 150px 0px;
  }
  .carousel__inner {
    height: 33rem;
  }
  .Contact_container::before {
    background-size: cover;
  }
}

@media screen and (min-width: 992px) {
  body {
    display: block;
  }
  .navbar {
    background: transparent;
  }
  .navigation {
    padding-left: 2%;
    padding-right: 2%;
  }
  .navbar-brand img {
    width: 80%;
  }
  .contact-form {
    padding: 0px;
  }
  .list__item {
    font-size: 18px;
    font-family: "CinzelDecorative";
    margin-left: 0px;
  }
  .sign__up {
    width: 150px;
  }
  .sign__up .button-signup {
    border-radius: 39px;
    padding: 0.45rem 0.45rem;
    width: 100%;
    height: 65px;
    font-size: 1.5rem;
    font-family: "poppins", "sans sarif";
    border: 1px solid #c24800;
    background-color: #c24800;
    color: #fff;
  }
  .divider::after,
  .divider::before {
    content: "";
    display: block;
    width: 380px;
  }

  .card-img img {
    padding: 0px;
  }
  .roadmap-optionbox {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .horizontal-line {
    border-bottom: none;
  }
  .nft__container {
    margin-bottom: 30px;
    padding: 250px 0px 150px 0px;
  }
  .carousel__inner {
    height: 33rem;
  }
  .carousel__dots {
    margin-top: 2rem;
  }

  .sign__up {
    margin-left: 0px;
  }
  .roadmap__container {
    padding: 100px 0px 50px 0px;
  }
  .road-container {
    margin-top: 30px;
  }
  .connector::after {
    content: "";
    height: 80px;
    flex: 1 1;
    width: 100%;
    border-bottom: 5px solid #fff;
    vertical-align: middle;
    top: 0;
    left: 0px;
    transform: translate(0%, -50%);
    bottom: 0;
    border-right: 0;
    position: relative;
  }
  .connector {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
  }
  .roadlastitems {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .roadlastitems::after {
    content: "";
    height: 80px;
    flex: 1 1;
    width: 100%;
    border-bottom: 5px solid #fff;
    vertical-align: middle;
    top: 0;
    left: 0px;
    transform: translate(0%, -50%);
    bottom: 0;
    border-right: 0;
    position: relative;
  }
  .Contact_container {
    padding: 220px 0px 100px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    padding-left: 10%;
    padding-right: 10%;
  }
  .map__conatiner {
    width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .sign__up {
    width: 200px;
  }
  .sign__up .button-signup {
    border-radius: 39px;
    padding: 0.45rem 0.45rem;
    width: 100%;
    height: 65px;
    font-size: 1.5rem;
    font-family: "poppins", "sans sarif";
    border: 1px solid #c24800;
    background-color: #c24800;
    color: #fff;
  }
  .list__item {
    font-size: 18px;
    font-family: "CinzelDecorative";
    margin-left: 20px;
  }
  .contact-form {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 5%;
  }
}

@media screen and (min-width: 1920px) {
  .list__item {
    font-size: 18px;
    font-family: "CinzelDecorative";
    margin-left: 60px;
  }

  .sign__up {
    width: 220px;
  }
  .sign__up .button-signup {
    border-radius: 39px;
    padding: 0.45rem 0.45rem;
    width: 100%;
    height: 65px;
    font-size: 1.5rem;
    font-family: "poppins", "sans sarif";
    border: 1px solid #c24800;
    background-color: #c24800;
    color: #fff;
  }
}

.ctm-close {
  position: absolute;
  right: 30px;
  top: 19px;
}

/* checkbox button */
label {
  font-family: "poppins", sans-serif;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: rgb(255, 248, 248);
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  background: linear-gradient(#e28d17, #ff5f00);
  border-radius: 3px;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 5px;
  width: 8px;
  height: 13px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) !important;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.inputbottomfiled {
  padding-left: 20%;
}

.card-body.mt-3 {
  width: 100%;
  max-height: 225px;
  overflow: auto;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c24800;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(253, 253, 253);
  border: 1px solid;
  border-radius: 5px;
}
